<div class="flex-p">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>PMV Master Data Management</h2>
            </mat-card-title>
            <mat-card-subtitle>
                <p> Please select a heading and subheading to view the relevant questions</p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row-container">
                <div class="table">
                    <h3>Headings</h3>
                    <div class="add-item">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilterHeadings($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="openAddEditItemDialog(1, null)">
                            <mat-icon>add</mat-icon>Add</button>
                    </div>

                    <div class="mat-elevation-z8">
                        <mat-table #table [dataSource]="headingsDataSource" #pmvHeadingSort="matSort" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID. </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="heading">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="heading"> Heading </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.heading}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="edit">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let group">
                                    <button mat-button (click)="openAddEditItemDialog(1, group)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-cell>

                            </ng-container>

                            <!--    <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
                                    <button mat-button (click)="onDelete(group.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>

                            </ng-container>-->


                            <mat-header-row *matHeaderRowDef="pmvHeadingDisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: pmvHeadingDisplayedColumns;" class="selectable-row" [ngClass]="{'bg-primary': selectedHeadingId == row.id}"
                                (click)="highlight('pmvSubheadings', row)"></mat-row>
                        </mat-table>

                        <mat-paginator #pmvHeadingsPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>

                <div class="table" *ngIf="selectedHeadingId >= 1">
                    <h3>Sub Headings</h3>
                    <div class="add-item">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilterSubHeadings($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="openAddEditItemDialog(2, null)">
                            <mat-icon>add</mat-icon>Add</button>
                    </div>

                    <div class="mat-elevation-z8">
                        <mat-table #table [dataSource]="subHeadingsDataSource" #pmvSubheadingsSort="matSort" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> ID. </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>


                            <!-- Name Column -->
                            <ng-container matColumnDef="subHeading">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Sub Heading </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.subHeading}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="edit">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
                                    <button mat-button (click)="openAddEditItemDialog(2, group)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-cell>

                            </ng-container>

                            <!--  <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
                                    <button mat-button (click)="onDelete(group.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>

                            </ng-container>-->

                            <mat-header-row *matHeaderRowDef="pmvSubHeadingDisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: pmvSubHeadingDisplayedColumns;" class="selectable-row" [ngClass]="{'bg-primary': selectedSubHeadingId == row.id}"
                                (click)="highlight('pmvQuestions', row)"></mat-row>
                        </mat-table>

                        <mat-paginator #pmvSubheadingsPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>

                <div *ngIf="selectedHeadingId >= 7 && selectedSubHeadingId >= 7">
                    <h3>Questions</h3>

                    <!--  <p *ngIf="selectedHeadingId < 0 && selectedSubHeadingId < 0">
                        <ngb-alert type="info" [dismissible]="false">
                            Please select a heading and subheading to view the relavant questions
                        </ngb-alert>
                    </p> -->
                    <!-- please not valide quitions from -->
                    <div class="add-item" *ngIf="this.selectedHeadingId >= 7 && this.selectedSubHeadingId >= 7">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilterQuestions($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="openAddEditItemDialog(3, null)">
                            <mat-icon>add</mat-icon>Add</button>
                    </div>

                    <div class="mat-elevation-z8" *ngIf="selectedHeadingId >= 7 && selectedSubHeadingId >= 7">
                        <mat-table class="wide-table" #table [dataSource]="pmvQuestionsDataSource" #pmvQuestionsSort="matSort" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> ID. </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>

                            <!-- Question Column -->
                            <ng-container matColumnDef="question">
                                <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'" mat-sort-header> Question </mat-header-cell>
                                <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.question}} </mat-cell>
                            </ng-container>

                            <!-- Question Column -->



                            <ng-container matColumnDef="questionType">
                                <mat-header-cell *matHeaderCellDef  mat-sort-header> Question Type </mat-header-cell>
                                <mat-cell *matCellDef="let element" > {{element.questionType}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="edit">
                                <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-icon class="selectable-row" (click)="openAddEditItemDialog(3, element)">edit</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!--  <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-icon class="selectable-row" (click)="deleteQuestion(element)">delete</mat-icon>
                                </mat-cell>
                            </ng-container>-->

                            <mat-header-row *matHeaderRowDef="displayedColumnsQuestions"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsQuestions;" (click)="selectedquestionId = row.id"></mat-row>
                        </mat-table>

                        <mat-paginator #pmvQuestionsPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>

                </div>
            </div>
            <div class="add-item-action">
                <mat-icon></mat-icon>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<!--
<mat-spinner *ngIf="showSpinner">Loading questions</mat-spinner>-->