<h1 mat-dialog-title>
    <span *ngIf="!item?.id">Add</span>
    <span *ngIf="item?.id">Edit</span> Item</h1>


<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">
        <!-- <mat-tab-group class="vertical-tabs">
            <mat-tab label="Basic"> -->
                <div fxLayout="column" class="form-field-outer">
                          <mat-form-field class="w-100" *ngIf="itemType == 3">
                        <mat-placeholder>Enter the question</mat-placeholder>
                        <textarea matInput formControlName="question"></textarea>
                        <mat-error *ngIf="form.controls['question']?.errors?.required">Question is required</mat-error>
                        <mat-error *ngIf="form.controls['question']?.hasError('minlength')">Question isn't long enough, minimum of 6 characters</mat-error>

                    </mat-form-field>

                    <mat-form-field *ngIf="itemType == 3">
                        <mat-select placeholder="Question Type" formControlName="questionType" >
                            <mat-option *ngFor="let questionType of questionTypes" [value]="questionType.id">
                                {{questionType.questionType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100" *ngIf="itemType == 1">
                        <mat-placeholder>Enter the heading</mat-placeholder>
                        <input matInput formControlName="heading">
                        <mat-error *ngIf="form.controls['heading'].errors?.required">Heading is required</mat-error>
                        <mat-error *ngIf="form.controls['heading'].hasError('minlength')">Heading isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100" *ngIf="itemType == 2">
                        <mat-placeholder>Enter the subHeading</mat-placeholder>
                        <input matInput formControlName="subHeading">
                        <mat-error *ngIf="form.controls['subHeading'].errors?.required">SubHeading is required</mat-error>
                        <mat-error *ngIf="form.controls['subHeading'].hasError('minlength')">SubHeading isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>
                </div>
            <!-- </mat-tab>
        </mat-tab-group> -->
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">
        <span *ngIf="!item?.id">Save</span>
        <span *ngIf="item?.id">Update</span>

    </button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>